<div class="wrapper">
  <h1>The Justiculator</h1>
  <p>Converts band value into other fiat and crypto currencies</p>
  <div class="row">
    <div class="column">
      <h2>Fiat</h2>
      <ul *ngIf="prices$ | async as prices">
        <li *ngFor="let p of prices.rates | keyvalue ">{{ +p.value * 5 | currency: p.key}}</li>
      </ul>
    </div>
    <div class="column">
      <h2>Crypto</h2>
      <ul *ngIf="crypto$ | async as crypto">
        <li *ngFor="let c of crypto.data">
          {{ c.symbol }} {{5 / +c.priceUsd }}
        </li>
      </ul>
    </div>
  </div>
</div>